:root {
  font-family: 'Varela Round', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #002244;
  color: #b9d9eb;
}

h1 {
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.twoColor {
  color: #ffddbb;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

article {
  margin: 1rem;
  border: thick solid #b9d9eb;
  border-radius: 1rem;
  min-width: fit-content;
  padding-top: 0;
}

.two {
  border: thick solid #ffddbb !important;
}

.two p {
  color: #ffddbb;
}

h2 {
  text-align: center;
  background-color: #b9d9eb;
  color: #002244;
  margin-top: 0;
  width: 100%;
  line-height: 3rem;
  font-size: 1.5rem;
}

.two h2 {
  background-color: #ffddbb;
}

p {
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
}

section {
  text-align: center;
  min-width: max-content;
  padding: 1rem;
}

button {
  background-color: #b9d9eb;
  color: #002244;
  line-height: 1.5rem;
  border-radius: 1rem;
  border-color: #b9d9eb;
  font-weight: bold;
}

.outline {
  text-shadow: -0.09rem 0 black, 0 0.09rem black, 0.09rem 0 black,
    0 -0.09rem black;
}

.two button {
  border-color: #ffddbb;
  background-color: #ffddbb;
}
