:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #002244;
  color: #b9d9eb;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

article {
  margin: 1rem;
  border: thin solid #7c7c7c;
  border-radius: 1rem;
  min-width: fit-content;
  padding-top: 0;
}

h2 {
  text-align: center;
  background-color: #b9d9eb;
  color: #002244;
  margin-top: 0;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  line-height: 3rem;
}

p {
  text-align: center;
}

section {
  text-align: center;
  min-width: max-content;
  padding: 1rem;
}

button {
  background-color: #002244;
  color: #b9d9eb;
  line-height: 1.5rem;
  border-radius: 1rem;
}
